body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgb(47, 150, 163), rgb(48, 62,143)); */
    background: #d9d9d9;
    font-family: sans-serif;
    color: white;
    font-family: 'Cinzel';
    /* border: solid black 1px; */
} 

.weather-container {
    margin-top: 100px;
    flex-direction: column;
    min-height: 100vh;
    /* max-height: 100%; */
    height: auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    /* border: solid black 2px; */
    background-color: white;
    padding: 0 10px 0 10px;
    box-shadow: 8px 8px 5px #a6a6a6;
    border-radius: 4px;
    overflow-y: auto;
    
}

.weather-info {
    min-height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: gray;
    padding-top: 15px;
    /* align-items: center; */
    /* border: solid red 1px; */
}

.weather-info-bottom {
    flex-direction: row;
}

.weather-info-bottom-left {
    /* border: solid black 1px; */

}

canvas {
    z-index: 2;
    background: transparent;
    width: 500px;
    padding-top: 10px;
    height: 100%;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 85px;
    float: right;
    padding-top: 20px;
    /* border: 1px solid yellow; */
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.location-timezone {
    max-width: 500px;
    display: flex;
    float: right;
    /* border: 1px solid yellow; */
    font-size: 20px;
    padding-right: 10px;
}

.temp-description {
    font: 10px;
    /* border: 1px solid yellow; */
}


/**/
.topnav {
  /* overflow: hidden; */
  background-color: gray;
  width: 520px;
  border-radius: 4px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #50A7C2;
  color: white;
}

.topnav a.active {
  background-color: #50A7C2;
  color: white;
}