body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62,143));
    font-family: sans-serif;
    color: white;
    font-family: 'Cinzel';
    /* border: solid black 1px; */
} 

.weather-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    border: solid black 2px;
    background-color: black;
    padding: 10px 10px 0 10px;
    
}

.weather-info {
    min-height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: solid red 1px; */
}

.weather-info-bottom {
    flex-direction: row;
}

.weather-info-bottom-left {
    /* border: solid black 1px; */

}
canvas {
    z-index: 2;
    /* background: transparent; */
    width: 500px;
    min-height: 600px;
    border: solid red 1px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 85px;
    float: right;
    padding-top: 20px;
    /* border: 1px solid yellow; */
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.location-timezone {
    max-width: 500px;
    display: flex;
    float: right;
    /* border: 1px solid yellow; */
    font-size: 20px;
    padding-right: 10px;
}

.temp-description {
    font: 10px;
    /* border: 1px solid yellow; */
}

#temp-icon {
    /* border: 1px solid black; */
}