body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62,143));
    font-family: sans-serif;
    color: white;
    font-family: 'Cinzel';
} 

.weather-container {
    flex-direction: column;
    max-height: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.weather-info {
    min-height: 200px;
    /* border: solid red 1px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.weather-info-bottom {
    flex-direction: row;
}

.weather-info-bottom-left {
    /* border: solid black 1px; */

}
canvas {
    z-index: 2;
    /* background: transparent; */
    width: 500px;
    min-height: 600px;
    border: solid black 1px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 60px;
    /* border: 1px solid yellow; */
    float: right;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.location-timezone {
    max-width: 500px;
    display: flex;
    float: right;
    /* border: 1px solid yellow; */
}

.temp-description {
    /* border: 1px solid yellow; */
}
